<div class="main-menu-area mg-tb-40">
    <div class="m-4">
        <form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
            <mat-card>
                <mat-card-content>
                    <mat-card-title>Ajouter un produit</mat-card-title>
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title> nouveau produit </mat-panel-title>
                            </mat-expansion-panel-header>
                            <input type="hidden" formControlName="id">
                            <mat-form-field>
                                <input formControlName="nom" matInput placeholder="Nom du produit">
                            </mat-form-field>

                            <mat-form-field>
                                <input formControlName="nomCourt" matInput placeholder="Nom court du produit,">
                            </mat-form-field>

                            <mat-form-field>
                                <input formControlName="prixBase" type="number" step="0.5" matInput placeholder="Prix de base du produit">
                            </mat-form-field>

                            <mat-form-field>
                                <input formControlName="prixVente" type="number" step="0.5" matInput placeholder="Prix de vente du produit">
                            </mat-form-field>

                            <mat-form-field>
                                <input formControlName="maxRemise" matInput type="number" step="1"
                                    placeholder="Seuil max de remise du produit">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Unité du produit</mat-label>
                                <mat-select formControlName="unite"  placeholder="Unité du produit">
                                    <mat-option value="unite 1">
                                        Unite 1
                                    </mat-option>

                                    <mat-option value="unite 2">
                                        Unite 2
                                    </mat-option>

                                    <mat-option value="unite 3">
                                        Unite 3
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                                
                            <mat-form-field>
                                <input type="number" step="1" formControlName="qteInitial" matInput
                                    placeholder="Quantite initiale en stock">
                            </mat-form-field>

                            <mat-form-field>
                                <input type="number" step="1"  formControlName="qteActuel" matInput
                                    placeholder="quantite actuel en stock">
                            </mat-form-field>
                            

                            <mat-form-field>
                                <input type="text" formControlName="image" matInput placeholder="Url de la Photo du produit">
                            </mat-form-field>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-card-content>

                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit"
                        [disabled]="service.form.invalid">Submit</button>
                    <button mat-raised-button color="warn" type="reset" (click)="onClear()">Clear</button>
                </div>
            </mat-card>
        </form>
    </div>
</div>