<div class="p-4">
    <h2>CONTROLE FINALE EN DEV. WEB FRONT END</h2>
    <p>Notre objectif est de développer une application angular SmartVentes. L’application sera composée des
        modules suivants : un module de Gestion de ventes et un module utilisateur et droits. Le module Gestion
        de ventes est composé des éléments suivants :</p>
    <ul>
        <li>
            <p>- Produit : nom du produit, nom court du produit, prix de base du produit, prix de vente du produit,
                seuil max de remise du produit, unité du produit, image du produit, quantite initiale en stock,
                quantite actuel en stock
            </p>
        </li>
        <li>
            <p>- Fournisseur : nom du fournisseur, nom court du fournisseur, ville du fournisseur, Adresse du
                fornisseur, Tel Fix du fornissseur, Tel mobile du fournisseur, Fax du fournisseur, adresse email du
                fournisseur
            </p>
        </li>
        
        <li>
            <p>- Client : nom du client, prenom du client, statut du client, photo du client, téléphone du client, email
                du client, adresse du client, ville du client
            </p>
        </li>
    </ul>

    <p>Le module Utilisateurs et droits permet de gérer les utilisateurs de l'application SmartVentes en s'appuyant
        sur un profil et les permissions associée.
    </p>
    <p>Utilisateur : identifiant, profils, date de création, date de fin, photo de l’utilisateur, email de l’utilisateur
        Dans l'application, vous avez deux types de données : consultables ou modifiables en fonction du profil de
        l'utilisateur.
    </p>
</div>