<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex bd-highlight" id="navbarTogglerDemo01">
        <a class="navbar-brand p-2 flex-grow-1 bd-highlight" href="#">SmartVents</a>
        <div class="nav-item">
            <div class="row p-2 bd-highlight">
                <a class="nav-link " href="#" target="_blank" rel="noopener" aria-label="GitHub">
                    <i class="fas fa-lg fa-ellipsis-v"></i>
                </a>
                <a class="nav-link" href="#" target="_blank" rel="noopener" aria-label="GitHub">
                    <i class="fa fa-lg fa-bell"></i>
                    <span class="notification-badge badge badge-dark">1</span>
                </a>
                <a class="nav-link" href="#" target="_blank" rel="noopener" aria-label="GitHub">
                    <i class="fas fa-lg fa-cog"></i>
                </a>
            </div>
        </div>
    </div>
</nav>