<nav class="navbar navbar-light navbar-expand-sm">
    <a class="navbar-brand text-dark font-weight-bold" href="#">
        SmartVentes
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex flex-row-reverse bd-highlight" id="navbar-list-4">
        <ul class="navbar-nav">

            <li class="nav-item dropdown border-right px-1">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-ellipsis-v" style="color: #898886; font-size: 35px;"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Dashboard</a>
                    <a class="dropdown-item" href="#">Edit Profile</a>
                    <a class="dropdown-item" href="#">Log Out</a>
                </div>
            </li>


            <li class="nav-item dropdown border-right">
                <a class="nav-link" href="#" target="_blank" rel="noopener" aria-label="GitHub">
                    <i class="fal fa-bell" style="color: #898886; font-size: 35px;"></i>
                    <span class="notification-badge badge badge-danger">1</span>
                </a>
            </li>

            <li class="nav-item dropdown px-1">
                <a class="nav-link" href="#" target="_blank" rel="noopener" aria-label="GitHub">
                    <i class="fal fa-cog" style="color: #898886; font-size: 35px;"></i>
                </a>
            </li>

        </ul>
    </div>
</nav>