<div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark">
                <a href="#">Produits</a>
            </li>
            <li class="list-group-item list-group-item-dark">
                <a href="#">Fournisseurs</a>
            </li>
            <li class="list-group-item list-group-item-dark">
                <a href="#">Clients</a>
            </li>
        </ul>
    </div>
    <!-- Content -->
</div>